FormsGestaoHotelariaAPISoap/FormsGestaoHotelariaAPISoap/Web References/ServiceGestor/GestaoHotelariaGestor.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://www.ipca.pt/gestaohotelaria/gestor" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://www.ipca.pt/gestaohotelaria/gestor" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.ipca.pt/gestaohotelaria/gestor">
      <s:element name="AprovarReserva">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ReservaID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AprovarReservaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AprovarReservaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AprovarOuRejeitarPedido">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="PedidoID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="isApproved" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AprovarOuRejeitarPedidoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AprovarOuRejeitarPedidoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConcluirReserva">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ReservaID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConcluirReservaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConcluirReservaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AprovarReservaSoapIn">
    <wsdl:part name="parameters" element="tns:AprovarReserva" />
  </wsdl:message>
  <wsdl:message name="AprovarReservaSoapOut">
    <wsdl:part name="parameters" element="tns:AprovarReservaResponse" />
  </wsdl:message>
  <wsdl:message name="AprovarOuRejeitarPedidoSoapIn">
    <wsdl:part name="parameters" element="tns:AprovarOuRejeitarPedido" />
  </wsdl:message>
  <wsdl:message name="AprovarOuRejeitarPedidoSoapOut">
    <wsdl:part name="parameters" element="tns:AprovarOuRejeitarPedidoResponse" />
  </wsdl:message>
  <wsdl:message name="ConcluirReservaSoapIn">
    <wsdl:part name="parameters" element="tns:ConcluirReserva" />
  </wsdl:message>
  <wsdl:message name="ConcluirReservaSoapOut">
    <wsdl:part name="parameters" element="tns:ConcluirReservaResponse" />
  </wsdl:message>
  <wsdl:portType name="GestaoHotelariaGestorSoap">
    <wsdl:operation name="AprovarReserva">
      <wsdl:input message="tns:AprovarReservaSoapIn" />
      <wsdl:output message="tns:AprovarReservaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AprovarOuRejeitarPedido">
      <wsdl:input message="tns:AprovarOuRejeitarPedidoSoapIn" />
      <wsdl:output message="tns:AprovarOuRejeitarPedidoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConcluirReserva">
      <wsdl:input message="tns:ConcluirReservaSoapIn" />
      <wsdl:output message="tns:ConcluirReservaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GestaoHotelariaGestorSoap" type="tns:GestaoHotelariaGestorSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AprovarReserva">
      <soap:operation soapAction="http://www.ipca.pt/gestaohotelaria/gestor/AprovarReserva" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AprovarOuRejeitarPedido">
      <soap:operation soapAction="http://www.ipca.pt/gestaohotelaria/gestor/AprovarOuRejeitarPedido" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConcluirReserva">
      <soap:operation soapAction="http://www.ipca.pt/gestaohotelaria/gestor/ConcluirReserva" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GestaoHotelariaGestorSoap12" type="tns:GestaoHotelariaGestorSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AprovarReserva">
      <soap12:operation soapAction="http://www.ipca.pt/gestaohotelaria/gestor/AprovarReserva" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AprovarOuRejeitarPedido">
      <soap12:operation soapAction="http://www.ipca.pt/gestaohotelaria/gestor/AprovarOuRejeitarPedido" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConcluirReserva">
      <soap12:operation soapAction="http://www.ipca.pt/gestaohotelaria/gestor/ConcluirReserva" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GestaoHotelariaGestor">
    <wsdl:port name="GestaoHotelariaGestorSoap" binding="tns:GestaoHotelariaGestorSoap">
      <soap:address location="https://localhost:44362/Services/GestaoHotelariaGestor.asmx" />
    </wsdl:port>
    <wsdl:port name="GestaoHotelariaGestorSoap12" binding="tns:GestaoHotelariaGestorSoap12">
      <soap12:address location="https://localhost:44362/Services/GestaoHotelariaGestor.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>